body {
    background-color: pink;
}

p {
    flex-wrap: wrap;
    color: black;
    font-size: 20px;
    font-family: system-ui;
}

table, th, td {
    border: 2px solid black;
    color: black;
    background-color: seagreen;
    font-family: system-ui;
    font-size: 20px;
    font-weight: 500;
    flex-wrap: wrap;
}

.nav {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;

    background-color: seagreen;
    border: 3px solid black;
    box-shadow: 2px 2px 2px black;
}

.navTabs {
    color: black;
    font-family: system-ui;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.mysteryButton {
    background-color: red;
    color: black;
    font-size: 25px;
    font-weight: 1000;
    font-family: system-ui;
    border: 3px solid black;
    cursor: pointer;
}

.body1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    font-family: system-ui;
    border: 3px solid black;
    box-shadow: 2px 2px 2px black;
    width: 50vh;
    background-color: seagreen;
}

.body2 {
    display: flex;
    flex-wrap: wrap;
    width: 50vh;
    font-family: system-ui;
}

.asci {
    display:flex;
    background-color: black;
    color: white;
    font-size: 25px;
    align-items: center;
    width:fit-content;
    flex-wrap: wrap;
}

.form {
    display: flex;
    background-color: seagreen;
    border: 2px solid black;
    font-family: system-ui;
    font-size: 20px;
    font-weight: 500;
    width: 40vh;
    box-shadow: 2px 2px 2px black;
    flex-wrap: wrap;
}

.clockBox {
    display: flex;
    justify-content: right;
    margin-right: 10%;
    margin-left: 80%;
    border: 2px solid black;
    background-color: white;
    box-shadow: 2px 2px 2px black;
    align-items: center;
}

#clock {
    font-family: system-ui;
    font-size: 50px;
    font-weight: 1;
}